@use "../../index.scss" as *;

.profile_texts {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include media {
        gap: 32px;
    }
}

.profile_desc_list {
    margin-top: 80px;
    display: flex;
    gap: 64px;
    position: relative;

    @include media {
        margin-top: 32px;
        flex-direction: column;
        gap: 8px;
    }

    .birth {
        @include media {
            margin-top: 8px;
        }
    }

    dt {
        @include font-config(body);
        font-size: rem(48);
    }
    dd {
        @include font-config(body);
        font-size: rem(24);
    }
    .img {
        position: absolute;
        right: 0;
        top: -200px;
        width: 420px;
        height: 300px;

        @include media {
            position: static;
            height: auto;
            width: 100%;
            margin-top: 8px;
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 420/300;
        }
    }
}
