@use "../../index.scss" as *;

.profile_texts {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include media {
        gap: 32px;
    }
}

.profile_desc_list {
    margin-top: 80px;
    display: flex;
    gap: 64px;
    position: relative;

    @include media {
        margin-top: 32px;
        flex-direction: column;
        gap: 8px;
    }

    .birth {
        @include media {
            margin-top: 8px;
        }
    }

    h3 {
        @include font-config(body);
        font-size: rem(48);
    }
    p {
        @include font-config(body);
        font-size: rem(24);
    }
    .myImageWrapper {
        position: absolute;
        right: 0;
        top: -200px;
        width: 420px;
        width: 40%;
        height: 300px;

        @include media {
            position: static;
            height: auto;
            width: 100%;
            margin-top: 8px;
        }

        .myImage {
            width: 100%;
            height: auto;
            aspect-ratio: 420/300;
        }

        div {
            @include media {
                position: relative;
            }
        }
    }

    .qualification {
        width: 80px;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        translate: -50% -50%;
        background-color: white;
        box-shadow: 2px 2px 5px rgb(92, 92, 92);
        padding: 8px;
        border-radius: 8px;

        @include media {
            translate: 0 0;
            border-radius: 0 0 8px 0;
        }
    }
}

.profile_desc {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
