@use "../../index.scss" as *;

.grid {
    margin-top: 56px;
    // justify-content: space-between;
    @include media {
        margin-top: 32px;
    }
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    row-gap: 32px;

    @include media {
        grid-template-columns: 1fr;
    }
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    row-gap: 64px;

    @include media {
        grid-template-columns: 1fr;
        row-gap: 72px;
    }
}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1%;
    row-gap: 24px;

    @include media {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 72px;
    }
}
