.grid {
    margin-top: 56px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    row-gap: 32px;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
