@use "../../index.scss" as *;

.section {
    padding: 80px 0 160px 0;
    position: relative;

    @include media {
        padding: 64px 0 128px 0;
    }

    // ヘッダーとの重なり回避
    &:first-of-type {
        padding-top: $header_height + 80px;

        @include media {
            padding-top: $header_height + 64px;
        }
    }
}

.black {
    background: $c_black;
    color: $c_white;

    .bg_tri {
        background-color: $c_white;
    }
}

.black:last-of-type .bg_tri {
    background-color: $c_black;
}

.white {
    background: $c_white;
    color: $c_black;

    .bg_tri {
        background-color: $c_black;
    }
}

.bg_tri {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 80px;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);

    @include media {
        height: 64px;
    }
}

.lines {
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 200vw;
    height: 32px;
    background: url(../../assets/lines.svg);
    background-repeat: repeat-x;
    background-size: 256px 32px;
    background-position: left center;
    mix-blend-mode: difference;
    z-index: 5;
    transform-origin: left;
    transform: rotate(calc(-1 * atan2(80px, 100vw)));
    animation: lineMove 6s infinite linear;

    @include media {
        transform: rotate(calc(-1 * atan2(64px, 100vw)));
    }
}

@keyframes lineMove {
    from {
        transform: rotate(calc(-1 * atan2(80px, 100vw))) translateX(-256px);
    }
    to {
        transform: rotate(calc(-1 * atan2(80px, 100vw))) translateX(0);
    }
}
