@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&family=Sawarabi+Gothic&display=swap");

// **********変数
$c_white: #fff;
$c_black: #262626;
$c_meter_main: #528de6;
$c_meter_frame: #eeeeee;
$c_meter_bg: #686868;
$header_height: 80px;
$openAnim_duration: 0.4s;
$openAnim_delay: 0.2s;

// **************font
@function rem($px) {
    @return calc($px / 16) * 1rem;
}

$font-presets: (
    header: (
        font-family: "Josefin Sans,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans, Meiryo, sans-serif",
        font-size: rem(24),
        font-weight: normal,
        line-height: 1,
    ),
    headingPC: (
        font-family: "Josefin Sans,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans, Meiryo, sans-serif",
        font-size: rem(80),
        font-weight: bold,
        line-height: 1,
    ),
    headingSP: (
        font-family: "Josefin Sans,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans, Meiryo, sans-serif",
        font-size: rem(48),
        font-weight: bold,
        line-height: 1,
    ),
    headingSmall: (
        font-family: "Sawarabi Gothic,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans, Meiryo, sans-serif",
        font-size: rem(24),
        font-weight: normal,
        line-height: 1,
    ),
    body: (
        font-family: "Noto Sans JP,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans, Meiryo, sans-serif",
        font-size: rem(16),
        font-weight: normal,
        line-height: 1.5,
    ),
);

@mixin font-config($preset-name) {
    $preset: map.get($font-presets, $preset-name);

    @if $preset == null {
        @error "未定義のフォントプリセット「#{$preset-name}」が指定されました。";
    }

    @each $prop, $val in $preset {
        #{$prop}: #{$val};
    }
}

// ************メディアクエリ
$media_widths: (
    "sp": "375px",
    "md": "768px",
);

@mixin media($width: "md") {
    @media (max-width: map.get($media_widths, $width)) {
        @content;
    }
}

.upperCase {
    text-transform: uppercase;
}

:root {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    @include font-config(body);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}
